<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="my suite">
    <test name="mytest">
    <groups>
        <run>
            <include name="vinayak"></include>
                        <include name="monika"></include>
                        <include name="mehul"></include>
            
        </run>
    </groups>
    <classes>
        <class name="TestNg.DatProviderTest">
            
        </class></classes>
</test>
    
</suite>
